* {
    margin: 0;
    padding: 0;
}

html{
  padding:0px;
  margin: 0px;
  background-image: url("background.jpg");
}
p {
  font-family: 'Ribeye Marrow';
  padding: 10px;
  margin: 1.25em;
  font-weight:bold;

}
input{
  width: 80%;
  height: 20%;
  text-align: center;
  font-family:'Tillana';
  border-radius: 25px;
}
input:hover{

}
input: focus{

}
table {
  text-align: center;
  font-family: 'Caveat';
  font-size: 16px;
  background-color: #36B1BF;
  border-color:#4AD9D9;
  color: black;
  display: inline;
  float: right;
  border-radius: 25px;
  border-width: 4px;
  padding: 10px;
  min-height: 25%;
  min-width: 40%;
  margin: 2em;

}
tbody{
  border-radius: 25px;

}
tr{
  border-color: #4AD9D9;
  border-radius: 15px;
}
td{
  border-color: #4AD9D9;
  border-radius: 25px;
  font-size: 1.3em;
}
th{
  border-radius: 25px;
  font-size: 1.3em;
  font-weight: bold;
}

body {
/*background-color: #BA8B32;*/
/*border-color: black;*/
background-image: url("background.jpg");
border-width: 10px;
}


section {
}
aside {
    width: 125px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    min-height: 100%;
    padding: 8px;
}


.bar{
  width: ;
}

#storeMaker{
  font-family:'Macondo Swash Caps';
  text-align:center;
  width: 100%;
  display: inline-block;
  background-color:#4AD9D9;




};

#mainTable{
  width: 80%;
  height: 30%;
  display:inline-block;
  float: right;
  font-size: 16px;

}
#donutHeader{
  width: 100%;
  max-height: 400px;
  margin:0px;
  padding:0px;

}
#introP{
font-family: 'Ribeye Marrow'
}


#secondP{
font-family: 'Ribeye Marrow';
}
#inputButton{
width: 180px;
height: 70px;
border-radius: 25px;
background-color: #36B1BF;
margin: 10px;
}

#ad {
  margin: 0px;
}
